body{
    margin: auto;
    max-width: 100vW;
    height: 860px;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.deliveryBody{
    width: 500px;
    height: 95%;
    margin: auto;
    margin-top: 10px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.head{
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
}

.head h1{
    color: #9B4802;
}

.head img{
    width: 60px;
}

.middle{
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputsBox{
    width: 350px;
    height: 340px;
    margin-left: -10%;
    margin-top: 10%;
    border: 1px solid #9B4802;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    width: 300px;
    height: 40px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.invalid{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 30px;
}
.invalid p{
    margin-top: 0;
    border-radius: 5px;
    color: red;
    visibility: hidden;
}

.payInputs{
    width: 350px;
    height: 40px;
    margin-top: 5%;
    border: 1px solid #9B4802;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10%;
}

.gifts{
    width: 350px;
    height: 160px;
    margin-top: 5%;
    margin-left: -10%;
    border: 1px solid #9B4802;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checks{
    height: 100px;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.giftsP{
    margin-left: 8%;
}

.completeBtn{
    width: 150px;
    margin: auto;
}

.popup{
    width: 50ch;
    height: fit-content;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    border-radius: 10px;
    transform: scale(0);
}

.popup::backdrop{
    background: rgb(0 0 0 / 0.6);
}

#adress{
    font-size: 16px;
    color: red;
}
.popup h2, h3{
    color: #9B4802;
}

.cross{
    font-size: 24px;
    position: relative;
    margin-left: 90%;
    cursor: pointer;
}

.footer{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: lightblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer h4{
    margin-right: 5px;
}