body{
    max-width: 1600px;
    height: 830px;
    box-sizing: border-box;
    margin: auto;
    scroll-behavior: smooth;
    background-color: azure;
    /* overflow-x: hidden; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sect1{
    width: 100%;
    height: 98%;
    background-image: url(../images/books.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.spans{
    position: relative;
    width: 80%;
    top: 8%;
    color: antiquewhite;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 140px;
}
#sect2{
    width: 98%;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.div2{
    width: 98%;
    height: 50px;
    margin: auto;
}
.myh1{
    color: #9B4802;
}
.container{
    width: 270px;
    height: 380px;
    border: 1px solid #9B4802;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container:hover .btnDiv{
    visibility: visible;
    transition: 1s;
    transform: translateY(-6px);
}
.book_img{
    width: 191px;
    height: 251px;
    margin-left: 13%;
}
.title{
    font-size: 15px;
    margin-left: 5px;
}
.auth{
    font-size: small;
    margin: 0 5px 5px 5px;
    color: #8A8A8A;
}
.price{
    position: relative;
    font-size: 20px;
    margin: 0 5px 5px;
    color: #9B4802;
}
.btnDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 270px;
    margin-top: 11%;
    visibility: hidden;
    background-color: white;
}
.btnPop{
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #9B4802;
    border: none;
    text-transform: uppercase;
}

.btnBag{
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: white;
    background-color: #049821;
    border: none;
    text-transform: uppercase;
}

.popuptext{
    position: absolute;
}

.descrDiv{
    width: 270px;
    height: 380px;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #707270;
    display: none;
}

#descrSpan{
    font-size: 16px;
    margin: 0px 10px 0 10px;
    color: white;
    line-height: 25px;
}

#closeBtn{
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
#closeBtn:hover{
    background-color: #049821;
    color: white;
}