body{
    max-width: 1600px;
    height: 1000px;
    box-sizing: border-box;
    margin: auto;
    scroll-behavior: smooth;
    background-color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sect1{
    width: 100%;
    height: 850px;
    background-image: url(../images/books.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.spans{
    position: relative;
    width: 80%;
    top: 8%;
    color: antiquewhite;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 140px;
}
.spans2{
    position: relative;
    width: 80%;
    top: 8%;
    color: antiquewhite;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    top: 280px;
}
.arrowImg{
    width: 100px;
    cursor: pointer;
}
.arrowA{
    position: relative;
    top: 280px;
}
#sect2{
    width: 98%;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.div2{
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartDiv{
    width: 170px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9B4802;
    cursor: pointer;
}
.myh1{
    color: #9B4802;
}
.cartImg{
    width: 50px;
}
.cartH2{
    color: #9B4802;
    margin-left: 10px;
}
.cartP{
    font-size: 22px;
    color: #8A8A8A;
    margin-left: 5px;
}
.container{
    width: 270px;
    height: 380px;
    border: 1px solid #9B4802;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container:hover .btnDiv{
    visibility: visible;
    transition: 1s;
    transform: translateY(-6px);
}
.book_img{
    width: 191px;
    height: 251px;
    margin-left: 13%;
}
.title{
    font-size: 15px;
    margin-left: 5px;
}
.auth{
    font-size: small;
    margin: 0 5px 5px 5px;
    color: #8A8A8A;
}
.price{
    position: relative;
    font-size: 20px;
    margin: 0 5px 5px;
    color: #9B4802;
}
.btnDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 270px;
    margin-top: 11%;
    visibility: hidden;
    background-color: white;
}
.btnPop{
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #9B4802;
    border: none;
    text-transform: uppercase;
}

.popDiv{
    width: 40%;
    background-color: white;
    border-radius: 10px;
}

.popDiv::backdrop{
    background-color: #8A8A8A;
    opacity: 0.7;
}

.popHead{
    display: flex;
    justify-content: space-between;
}

.popClose{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
}

.btnBag{
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: white;
    background-color: #049821;
    border: none;
    text-transform: uppercase;
}
.foot{
    width: 100%;
    height: 50px;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footA{
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #9B4802;
    cursor: pointer;
    display: flex;
    align-items: center;
}