body{
    max-width: 1600px;
    height: 830px;
    margin: auto;
    scroll-behavior: smooth;
    background-color: azure;
    overflow-x: hidden;
}
.sect1{
    width: 100%;
    height: 98%;
    background-image: url(../images/books.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.spans{
    position: relative;
    width: 80%;
    top: 8%;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 140px;
}
.sect2{
    width: 100%;
    height: 70%;
}
.myh1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9B4802;
    left: 5%;
    position: relative;
}
.container{
    position: relative;
    width: 98%;
    height: 900px;
    background-color: aqua;
    margin: auto;
}